.contact__content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-around;

  padding-top: 100px;

  @media screen and (max-width: 426px) {
    padding-top: 35px;
    flex-direction: column;
  }
}

.contact__subtitle {
  color: $gold;

  border-top: 1px solid $gold;

  display: inline-block;

  margin: 0 auto 20px;

  @media screen and (max-width: 426px) {
    margin: 0 auto;
  }
}

.contact__phone,
.contact__email {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.contact__phone--number,
.contact__email--mail {
  @media screen and (max-width: 426px) {
    margin: 0 auto 15px;
  }
}

.contact__gradient-text {
  background-image: linear-gradient(
    90deg,
    #464646 15%,
    #b69b67 36%,
    #464646 52%
  );
}