.feedbacks {
  flex-basis: 49%;

  position: relative;

  @media screen and (max-width: 769px) {
    flex-basis: 100%;
  }
}

.feedback {
  margin-top: 100px;

  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;

  flex-basis: 100%;

  border-bottom: 1px solid $gold;

  padding-bottom: 25px;

  @media screen and (max-width: 769px) {
    margin-top: 80px;
  }
  @media screen and (max-width: 426px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 321px) {
    padding-bottom: 10px;

    margin-top: 45px;
  }
}

.feedback__img {
  max-width: 100%;
  width: 15%;

  @media screen and (max-width: 376px) {
    width: 18%;
  }
  @media screen and (max-width: 321px) {
    width: 24%;
    margin: 0 auto;
  }
}

.feedback__text {
  font-family: $ubuntu;

  font-size: 1.5rem;
  line-height: 1.8rem;

  font-weight: 300;

  color: $gray;

  flex-basis: 80%;

  position: relative;

  @media screen and (max-width: 426px) {
    font-size: 1.2rem;
    line-height: 1.4rem;
    flex-basis: 78%;
  }
  @media screen and (max-width: 321px) {
    flex-basis: 100%;
    margin-top: 10px;
  }
}

.feedback__username {
  color: $gold;

  text-transform: uppercase;

  position: absolute;
  bottom: -65%;
  right: 0;

  @media screen and (max-width: 426px) {
    bottom: -74%;
    font-size: 1rem;
  }
  @media screen and (max-width: 321px) {
    bottom: -52%;
  }
}

.more-feedbacks {
  position: absolute;
  bottom: 0%;
  left: 28%;

  font-family: $ubuntu;

  font-size: 1rem;
  line-height: 1.3rem;

  font-weight: 300;

  text-transform: uppercase;

  @media screen and (max-width: 769px) {
    bottom: -90px;
    left: 33%;
  }
  @media screen and (max-width: 426px) {
    bottom: -75px;
    left: 22%;
  }
  @media screen and (max-width: 376px) {
    left: 16%;
  }
  @media screen and (max-width: 322px) {
    left: 9%;
  }
}
