.gradient-text {
  font-family: $ubuntu;

  font-weight: 300;
  font-size: 3rem;
  line-height: 4rem;

  text-transform: uppercase;

  text-align: center;

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #464646 30%,
    $gold 50%,
    #464646 75%
  );

  @media screen and (max-width: 1281px) {
    font-size: 2.7rem;
    line-height: 3rem;
  }
  @media screen and (max-width: 426px) {
    font-size: 1.7rem;
    line-height: 2rem;
  }
  @media screen and (max-width: 426px) {
    font-size: 1.5rem;
  }
}
