.portfolio__card {
  position: relative;

  width: 49%;
  height: 200px;

  background-color: $black;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-end;

  margin-bottom: 21px;

  &:hover {
    .card-bg {
      filter: brightness(100%);
      transition-duration: 0.3s;

      max-width: 550px;
    }

    .card__info {
      transition-duration: 0.5s;
      opacity: 0;
      z-index: -1;
    }

    .card-btn {
      opacity: 1;
      z-index: 2;
      transition-duration: 0.5s;
    }
  }

  @media screen and (max-width: 769px) {
    width: 87%;
    margin: auto auto 21px auto;
  }
  @media screen and (max-width: 426px) {
    flex-direction: column;
  }
}

.card-bg {
  position: absolute;

  max-width: 545px;
  width: 100%;
  height: 100%;

  transition-duration: 0.3s;

  filter: brightness(50%);
}

.card__info {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;

  background-color: $gold;

  padding: 10px 20px 0;

  z-index: 2;
  transition-duration: 0.3s;

  @media screen and (max-width: 426px) {
    display: flex;
    flex-direction: unset;

    background-color: #b69b67;

    padding: 10px 20px 0;

    z-index: 2;

    flex-wrap: wrap;

    height: 95px;
  }
}

.portfolio-card__title {
  font-weight: 400;

  font-size: 1.4rem;
  line-height: 1.7rem;

  color: $black;

  margin-bottom: 42px;
  @media screen and (max-width: 426px) {
    margin: 0;

    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  @media screen and (max-width: 321px) {
    margin: 0;

    font-size: 1.1rem;
    line-height: 1.3rem;
  }
}

.portfolio-card__description {
  font-family: $ubuntu;

  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 700;

  color: $black;

  overflow: hidden;
}

.portfolio-card__category {
  font-family: $ubuntu;

  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 400;

  color: $black;

  text-decoration: none;

  text-align: end;

  margin: auto 0;

  transition-duration: 0.3s;

  @media screen and (max-width: 426px) {
    margin: auto 0 auto auto;
  }
  @media screen and (max-width: 321px) {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

.card-btn {
  font-weight: 400;

  line-height: 2rem;

  color: $black;
  background-color: $gold;

  text-decoration: none;

  position: absolute;
  top: 37%;

  left: 15.5%;

  padding: 12px;

  transition-duration: 0.3s;

  opacity: 0;
  z-index: -1;

  &:hover {
    background-color: darken($gold, $amount: 15%);
  }

  @media screen and (max-width: 769px) {
    left: 26%;
  }
  @media screen and (max-width: 426px) {
    left: 20%;
  }
  @media screen and (max-width: 376px) {
    left: 17%;
  }
  @media screen and (max-width: 321px) {
    left: 9%;
  }
}
