.portfolio {
  padding: 100px 0;

  @media screen and (max-width: 426px) {
    padding: 40px 0;
  }
}

.portfolio__cards {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 769px) {
    flex-direction: column;
  }
}

#portfolio__slider{
  margin-top: 85px;
}
