<article class="contact">
  <h2 class="contact__title title">контакты</h2>
  <div class="container contact__content">
    <section class="contact__phone">
      <h3 class="contact__subtitle subtitle">телефон</h3>
      <p class="contact__phone--number subtitle">+7(999)992-94-99</p>
    </section>

    <section class="contact__email">
      <h3 class="contact__subtitle subtitle">email</h3>
      <p class="contact__email--mail subtitle">websolovey@gmail.com</p>
    </section>
  </div>
  <div class="container">
    <img class="contact-img" src="assets/img/contact-img.png" alt="" />
    <p class="gradient-text contact__gradient-text">
      это место, где искры идеи превращаются в огонь.
    </p>
  </div>
</article>
