<article class="feedbaks-contact">
  <div class="container feedbaks-contact--flex">
    <article class="feedbacks">
      <h2 class="title">отзывы</h2>
      <section class="feedback">
        <img
          src="assets/img/feedback1.jpg"
          alt="feedback"
          class="feedback__img"
        />
        <p class="feedback__text">
          Working with thise guys was an astonishing expirience for me. I was
          pleased with theyre work.

          <span class="feedback__username">sarah robinson</span>
        </p>
      </section>
      <section class="feedback">
        <img
          src="assets/img/feedback1.jpg"
          alt="feedback"
          class="feedback__img"
        />
        <p class="feedback__text">
          Working with thise guys was an astonishing expirience for me. I was
          pleased with theyre work.

          <span class="feedback__username">sarah robinson</span>
        </p>
      </section>
      <section class="feedback">
        <img
          src="assets/img/feedback1.jpg"
          alt="feedback"
          class="feedback__img"
        />
        <p class="feedback__text">
          Working with thise guys was an astonishing expirience for me. I was
          pleased with theyre work.

          <span class="feedback__username">sarah robinson</span>
        </p>
      </section>
      <p class="more-feedbacks">click here for more feedbacks</p>
    </article>
    
    <article class="contact-us">
      <h2 class="title">напишите мне</h2>
      <form
        name="contact-form"
        class="contact-form"
       
        
      >
        <input
          class="contact-form__name form-input"
          type="text"
          placeholder="Имя"
          name="name"
         
        />
        <label class="error" for="name" id="name_error">* Поле обязательно для заполнения</label>
        <input
          class="contact-form__email form-input"
          type="email"
          placeholder="Email"
          name="email"
        />
        <label class="error" for="email" id="email_error">* Поле обязательно для заполнения</label>
        <!-- <input type="hidden" name=" sweetField " /> -->

        <textarea
          class="contact-form__msg form-input"
          name="user_msg"
          id=""
          cols="30"
          rows="10"
          placeholder="Сообщение"
        ></textarea>
        <label class="error" for="user_msg" id="user_msg_error">* Напишите сообщение</label>

        <!--Перенаправление после отправки формы-->
        <!-- <input
          type="hidden"
          name="_success"
          value="http://yoursite.com/form-sended"
        /> -->
        <button class="contact-form__btn" type="submit">отправить</button>
        <div class="send-mail">Сообщение отправлено</div>
        <img class="form__img" src="assets/img/form-img.png" alt="form-img" />
      </form>
    </article>
  </div>
</article>
