<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet" href="assets/css/style.min.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="assets/js/app.js"></script>





<!-- <link href="../../../node_modules/jquery-form-styler/dist/jquery.formstyler.css" rel="stylesheet" />
<link href="../../../node_modules/jquery-form-styler/src/jquery.formstyler.theme.css" rel="stylesheet" />
< src="../../../node_modules/jquery-form-styler/src/jquery.formstyler.min.js"></> -->


<title>{{title}}</title>

