<article class="head-block">
  <div class="container">
    <div class="head-block__content">
      <h1 class="head-block__title title">websolovey</h1>
      <p class="head-block__subtitle subtitle">web developer</p>
      <img class="head-block__img" src="assets/img/lamp.png" alt="lamp" />
      <p class="gradient-text">НАШ ДИЗАЙН НАСТОЛЬКО ВОСТРЕБОВАН, ЧТО НАМ ПРИХОДИТСЯ ПРЯТАТЬСЯ</p>

      <div class="menu__icon">
        <span></span>
      </div>
      <section class="block-menu">
    
        <h2 class="block-menu__title title">menu</h2>
        <div class="block-menu__content">
          <nav class="menu">
            <ul>
              <li class="subtitle"><a class="menu__link link" href="#">main</a></li>
              <li class="subtitle"><a class="menu__link link" href="#">services</a></li>
              <li class="subtitle"><a class="menu__link link" href="#">portfolio</a></li>
              <li class="subtitle"><a class="menu__link link" href="#">blog</a></li>
              <li class="subtitle"><a class="menu__link link" href="#">pricings</a></li>
              <li class="subtitle"><a class="menu__link link" href="#">feedbacks</a></li>
              <li class="subtitle"><a class="menu__link link" href="#">contacts</a></li>
              <li class="subtitle"><a class="menu__link link" href="#">Sign in</a></li>
              <li class="subtitle"><a class="menu__link link" href="#">send message</a></li>
            </ul>
          </nav>
          <div class="menu__right-block">
            <div class="form__group">
              <input class="form__input" type="text" title="search" placeholder=" ">
              <label for="" class="form__label">search</label>
            </div>
            
          </div>
          
        </div>
      </section>
    </div>
  
  </div>
</article>
