<article class="portfolio">
  <div class="container">
    <h2 class="title">портфолио</h2>
    <div class="portfolio__content">
      <form
        class="portfolio__categories"
        action="formdata"
        method="post"
        name="form1"
      >
        <select class="portfolio__form-select" name="categories">
          <option>All categories</option>
          <option>Graphic Design</option>
          <option>Photography</option>
          <option>UI</option>
          <option>Branding</option>
          <option>Logo Gesign hover</option>
        </select>
      </form>

      <article id="portfolio__slider">
        <div>
          <div class="portfolio__cards">
            <section class="portfolio__card">
              <img
                src="assets/img/projects/buhone.jpg"
                alt="buheone-site"
                class="card-bg"
              />
              <div class="card__info">
                <h3 class="subtitle portfolio-card__title">сайт buhone</h3>
                <p class="portfolio-card__description">
                  Верстка сайта для компании предоставляющей бухгалтерские
                  услуги
                </p>
                <p class="portfolio-card__category">Вёрстка</p>
              </div>
              <a
                href="https://websolovey.github.io/buhone/index.html"
                class="card-btn subtitle"
                target="_blank"
                >смотреть полностью</a
              >
            </section>

            <section class="portfolio__card">
              <img
                src="assets/img/projects/info-travels.jpg"
                alt="Главная страница сайта info-travels"
                class="card-bg"
              />
              <div class="card__info">
                <h3 class="subtitle portfolio-card__title">
                  Сайт info-travels
                </h3>
                <p class="portfolio-card__description">
                  Тревел - блог на WordPress. Была произведена установка и
                  настройка всего сайта под ключ.
                </p>
                <p class="portfolio-card__category">WordPress</p>
              </div>
              <a
                href="https://info-travels.ru"
                class="card-btn subtitle"
                target="_blank"
                >смотреть полностью</a
              >
            </section>
            <section class="portfolio__card">
              <img
                src="assets/img/projects/bloghome.jpg"
                alt="Главная страница сайта bloghome"
                class="card-bg"
              />
              <div class="card__info">
                <h3 class="subtitle portfolio-card__title">Сайт bloghome</h3>
                <p class="portfolio-card__description">
                  Блог на WordPress. Была произведена установка и настройка
                  всего сайта под ключ.
                </p>
                <p class="portfolio-card__category">WordPress</p>
              </div>
              <a
                href="https://bloghome.ru"
                class="card-btn btn subtitle"
                target="_blank"
                >смотреть полностью</a
              >
            </section>
            <section class="portfolio__card">
              <img src="assets/img/item4.jpg" alt="" class="card-bg" />
              <div class="card__info">
                <h3 class="subtitle portfolio-card__title">Заглушка</h3>
                <p class="portfolio-card__description">
                  Web design in monochromatic colors for SUBSENCE agency.
                </p>
                <p class="portfolio-card__category">web design</p>
              </div>
              <a href="#" class="card-btn subtitle">смотреть полностью</a>
            </section>
          </div>
        </div>

        <div>
          <div class="portfolio__cards">
            <section class="portfolio__card">
              <img src="assets/img/item1.jpg" alt="" class="card-bg" />
              <div class="card__info">
                <h3 class="subtitle portfolio-card__title">Заглушка</h3>
                <p class="portfolio-card__description">
                  Web design in monochromatic colors for SUBSENCE agency.
                </p>
                <p class="portfolio-card__category">web design</p>
              </div>
              <a href="#" class="card-btn subtitle">see full project</a>
            </section>

            <section class="portfolio__card">
              <img src="assets/img/item2.jpg" alt="" class="card-bg" />
              <div class="card__info">
                <h3 class="subtitle portfolio-card__title">Заглушка</h3>
                <p class="portfolio-card__description">
                  Web design in monochromatic colors for SUBSENCE agency.
                </p>
                <p class="portfolio-card__category">web design</p>
              </div>
              <a href="#" class="card-btn subtitle">see full project</a>
            </section>
            <section class="portfolio__card">
              <img src="assets/img/item3.jpg" alt="" class="card-bg" />
              <div class="card__info">
                <h3 class="subtitle portfolio-card__title">Заглушка</h3>
                <p class="portfolio-card__description">
                  Web design in monochromatic colors for SUBSENCE agency.
                </p>
                <p class="portfolio-card__category">web design</p>
              </div>
              <a href="#" class="card-btn btn subtitle">see full project</a>
            </section>
            <section class="portfolio__card">
              <img src="assets/img/item4.jpg" alt="" class="card-bg" />
              <div class="card__info">
                <h3 class="subtitle portfolio-card__title">Заглушка</h3>
                <p class="portfolio-card__description">
                  Web design in monochromatic colors for SUBSENCE agency.
                </p>
                <p class="portfolio-card__category">web design</p>
              </div>
              <a href="#" class="card-btn subtitle">see full project</a>
            </section>
          </div>
        </div>
      </article>
      <div class="slider-arrows">
        <p class="portfolio__slider--arrow-prev">пред</p>
        <p class="portfolio__slider--arrow-next">след</p>
      </div>
    </div>
  </div>
</article>
