<article class="services">
  <div class="container">
    <h2 class="title">услуги</h2>
    <div class="services__content">
      <ul class="services__nav">
        <li class="subtitle services__subtitle">
          <a class="link services__link" href="#">Веб-приложение</a>
        </li>
        <li class="subtitle services__subtitle">
          <a class="link services__link" href="#">SEO</a>
        </li>
        <li class="subtitle services__subtitle">
          <a class="link services__link" href="#">сайт под ключ</a>
        </li>
        <li class="subtitle services__subtitle">
          <a class="link services__link" href="#">telegram боты</a>
        </li>
        <li class="subtitle services__subtitle">
          <a class="link services__link" href="#">верстка</a>
        </li>
        <li class="subtitle services__subtitle">
          <a class="link services__link" href="#">wordpress</a>
        </li>
      </ul>
      <div class="services__tabs">
        <p class="services__tab">
          1Веб-дизайн-это наша страсть. Наша команда любит создавать уникальные
          веб-страницы для наших клиентов. Понимание пользователей является
          ключевым моментом для хорошего взаимодействия с ним через веб-дизайн.
        </p>
        <p class="services__tab">
          2Веб-дизайн-это наша страсть. Наша команда любит создавать уникальные
          веб-страницы для наших клиентов. Понимание пользователей является
          ключевым моментом для хорошего взаимодействия с ним через веб-дизайн.
          2Веб-дизайн-это наша страсть. Наша команда любит создавать уникальные
          веб-страницы для наших клиентов. Понимание пользователей является
          ключевым моментом для хорошего взаимодействия с ним через веб-дизайн.
        </p>
        <p class="services__tab">
          3Веб-дизайн-это наша страсть. Наша команда любит создавать уникальные
          веб-страницы для наших клиентов. Понимание пользователей является
          ключевым моментом для хорошего взаимодействия с ним через веб-дизайн.
          3Веб-дизайн-это наша страсть. Наша команда любит создавать уникальные
          веб-страницы для наших клиентов. Понимание пользователей является
          ключевым моментом для хорошего взаимодействия с ним через веб-дизайн.
          3Веб-дизайн-это наша страсть. Наша команда любит создавать уникальные
          веб-страницы для наших клиентов. Понимание пользователей является
          ключевым моментом для хорошего взаимодействия с ним через веб-дизайн.
        </p>
        <p class="services__tab">
          4Веб-дизайн-это наша страсть. Наша команда любит создавать уникальные
          веб-страницы для наших клиентов. Понимание пользователей является
          ключевым моментом для хорошего взаимодействия с ним через веб-дизайн.
        </p>
        <p class="services__tab">
          5Веб-дизайн-это наша страсть. Наша команда любит создавать уникальные
          веб-страницы для наших клиентов. Понимание пользователей является
          ключевым моментом для хорошего взаимодействия с ним через веб-дизайн.
        </p>
        <p class="services__tab">
          6Веб-дизайн-это наша страсть. Наша команда любит создавать уникальные
          веб-страницы для наших клиентов. Понимание пользователей является
          ключевым моментом для хорошего взаимодействия с ним через веб-дизайн.
        </p>
      </div>
    </div>
  </div>
</article>
